<section class="ff-body page_notfound_container p-1">
  <div class="list-n td-n d-f ai-c jc-fs pl-0c5 c-blue">
    <a class="list-n" href="/bo">
      {% include '@App/img/sansa-icon-arrows.svg' %}
    </a>
    <a class="list-n td-n fs-s lh-24 c-blue pl-0c5 fw-700" href="/bo">
      Retour à l’accueil
    </a>
  </div>

  <div class="d-f fd-c ai-c">
    <div class="w-100 ff-body img-not-found">
      {% include '@App/img/sansa_image_page_404_desktop.svg' %}
    </div>

    <p class="text1 fs-l lh-39 pr-1 pl-1 fw-700">
      Oups ! La page que vous cherchez n’est pas accessible
    </p>
    <p class="text2 fs-s lh-24 fw-400">
      Pas de panique, nous sommes sur le coup
    </p>
  </div>
</section>
