{% extends 'base.html.twig' %}

{% block title %}Hello AssoController!{% endblock %}

{% block body %}
    <div class="d-f p-1">
        {% include '@App/Components/navbar-admin.html.twig' with {'currentPage': currentPage, 'template': 'asso'} %} 
        <div class="pt-1 fb-90">
            <h1 class="ff-body fs-xl c-black-40 fw-700 mb-2 mt-0">{{title}}</h1>
            {% block listing %}
                <div class="d-f">
                    {% for card in cards %}
                        {% include '@App/Components/card.html.twig' with {card} %}
                    {% endfor %}
                </div>
            {% endblock %}
            <div class="bgc-white bs-light br-15 p-1c5 mt-1c5">
                <p class="ff-body fs-m c-black-40 fw-700 m-0 mt-0c5">Nombre de recherche ce dernier mois</p>
                <p class="ff-body fs-s c-black-20 mb-2 mt-0">qui recherchent mon assocation sur SANSA</p>
                {% include '@App/Components/graph.html.twig' with {'template': 'asso'} %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
