{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="d-f p-1">
        {% include '@App/Components/navbar-admin.html.twig' with {'currentPage': currentPage} %}
        <div class="pt-1 fb-90">
            <h1 class="ff-body fs-xl c-black-40 fw-700 mb-2 mt-0">{{title}}</h1>
            {% block listing %}
                <div class="d-f">
                    {% for card in cards %}
                        {% include '@App/Components/card.html.twig' with {card} %}
                    {% endfor %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
