{% extends 'base.html.twig' %}

{% block title %}Hello BoAuthController!{% endblock %}

{% block body %}
    
    {% include '@App/Components/navbar.html.twig' %}
    <form method="post" action="{{ path("app_bo_auth_login") }}">

        <h3><label for="loginName">Username or email</label></h3>
        <input name="_username" type="text" id="loginName"  placeholder="email">

        <h3><label for="password">password</label></h3>
        <input name="_password" type="password" id="password"  placeholder="password">

        <input type="submit" value="Login">
    </form>
{% endblock %}
