{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tooglePassword') }}
{% endblock %}

{% block bodyStyle %}bgc-backo h-100v m-0{% endblock %}

{% block title %}Sansa | Login{% endblock %}


{% block body %}
<section class="h-100v d-f ai-c">
    <div class="d-f jc-sa ai-fe w-100">
        <div class="fb-45">
            <img src="{{ asset('build/images/designer.png') }}" alt="" class="w-100" />
        </div>
        <div class="fb-45">
            <h2 class="ff-body fs-xl fw-600 c-black-60 pb-1 bb-black-10">Se connecter</h2>
            <form class="p-r w-90" method="post" action="{{ path("app_bo_auth_login") }}">
                <h3 class="ff-body fs-s c-black-40 fw-400 mb-0c5"><label for="loginName">Adresse e-mail</label></h3>
                <input class="br-15 p-0c75 b-black-10 w-100 c-black-10" name="_username" type="text" id="loginName"  placeholder="johndoe@gmail.com">

                <h3 class="ff-body fs-s c-black-40 fw-400 mb-0c5"><label for="password">Mot de passe*</label></h3>
                <div class="p-r">
                    <span class="p-a t-50 tty-n50 r-0 pr-0c5 tooglePassword">{% include '@App/img/password_eye.html.twig' %}</span>
                    <div>
                        <input class="br-15 p-0c75 b-black-10 w-100 c-black-10" name="_password" type="password" id="password"  placeholder="**********">
                    </div>
                </div>

                <input class="bgc-blue br-xxl p-0c75 b-black-10 fs-sm c-white d-b mt-2 w-100" type="submit" value="Se connecter">
                {% if error %}
                    <div class="c-danger-text">cette user existe ap</div>
                {% endif %}
            </form>
            <a href="" class="ff-body c-blue fs-s fw-600 mt-1 pb-2c5 d-b td-n ta-c bb-black-10">Mot de passe oublié</a>
            <p class="ff-body fs-xs fw-400 c-black-20 mt-1 ta-c">Vous n’avez pas de compte ? <a href="" class="c-blue fw-600 td-u">S’inscrire</a></p>
        </div>
    </div>
</section>
{% endblock %}
