@media only screen  and (max-width: 600px) and (min-width: 320px)   {
    .footer-wrapper  {
        flex-direction: column;
    }

    .footer-bg {
        padding-bottom: 12rem !important;
        background-size: 40rem;
    }

    footer ul {
        font-size: 14px !important;
    }

    footer .disclaimer {
        font-size: 10px !important ;
    }
}