<div class="fb-33c3 br-15 bs-light bgc-white pl-2 pt-1c5 pb-1c5 pr-2 {{loop.last ? '' : 'mr-2'}}">
    <p class="ff-body fs-xxl c-black-60 fw-700 mb-1c5 mt-0">{{card.number}}</p>
    <p class="ff-body fs-m c-black-40 fw-700 m-0">{{card.title}}</p>
    <p class="ff-body fs-sm c-black-20 m-0">{{card.subtitle}}</p>
</div>