<footer class="ff-body bgc-blue c-blue ff-body">
  <div class="footer-wrapper jc-sa d-f pt-5 pr-5 pb-3 pl-5 c-white">
    <div>
      <p class="fw-700 fs-s">
        L'ASSOCIATION
      </p>
      <ul class="list-n p-0 fs-s lh-24">
        <li class="pt-0c5 pb-0c5 pl-0">Missions et valeurs</li>
        <li class="pt-0c5 pb-0c5 pl-0">Actions</li>
        <li class="pt-0c5 pb-0c5 pl-0">Équipe</li>
        <li class="pt-0c5 pb-0c5 pl-0">Contact</li>
      </ul>
    </div>
    <div>
      <p class="fw-700 fs-s">
        AGIR AVEC NOUS
      </p>
      <ul class="list-n p-0 fs-s lh-24">
        <li class="pt-0c5 pb-0c5 pl-0">Rejoindre le réseau SANSA</li>
        <li class="pt-0c5 pb-0c5 pl-0">Devenir membre</li>
        <li class="pt-0c5 pb-0c5 pl-0">Associations référencées</li>
        <li class="pt-0c5 pb-0c5 pl-0">Ateliers d’entraide</li>
      </ul>
    </div>
    <div>
      <p class="fw-700 fs-s">
        NOTRE ACTU
      </p>
      <ul class="list-n p-0 fs-s lh-24">
        <li class="pt-0c5 pb-0c5 pl-0">Blog</li>
        <li class="pt-0c5 pb-0c5 pl-0">Presse</li>
        <li class="pt-0c5 pb-0c5 pl-0">Twitter</li>
        <li class="pt-0c5 pb-0c5 pl-0">Facebook</li>
      </ul>
    </div>
  </div>
  <p class="disclaimer fs-s mt-0 mr-0c75 ml-0c75 pb-0c25 d-f jc-e c-black-10">
    Ce site a été réalisé dans le cadre d'un travail à but éducatif et non
    commercial
  </p>
</footer>
