<footer class="footer__container ff-body bgc-blue c-blue ff-body">
  <div class="d-f footer-wrapper jc-sa d-f c-white pt-2">
    <div class"ta-l">
      <p class="fw-700 fs-s c-p">
        L'ASSOCIATION
      </p>
      <ul class="list-n p-0 fs-s lh-24">
        <li class="pt-1c25 c-p">Missions et valeurs</li>
        <li class="pt-0c5 c-p">Actions</li>
        <li class="pt-0c5 c-p">Équipe</li>
        <li class="pt-0c5 c-p">Contact</li>
      </ul>
    </div>
    <div class"ta-l">
      <p class="fw-700 fs-s c-p">
        AGIR AVEC NOUS
      </p>
      <ul class="list-n p-0 fs-s lh-24">
        <li class="pt-1c25 c-p">Rejoindre le réseau SANSA</li>
        <li class="pt-0c5 c-p">Devenir membre</li>
        <li class="pt-0c5 c-p">Associations référencées</li>
        <li class="pt-0c5 c-p">Ateliers d’entraide</li>
      </ul>
    </div>
    <div class"ta-l">
      <p class="fw-700 fs-s c-p">
        NOTRE ACTU
      </p>
      <ul class="list-n p-0 fs-s lh-24">
        <li class="pt-1c25 c-p">Blog</li>
        <li class="pt-0c5 c-p">Presse</li>
        <li class="pt-0c5 c-p">Twitter</li>
        <li class="pt-0c5 c-p">Facebook</li>
      </ul>
    </div>
  </div>
  <p class="fs-xxs c-white pr-0c5 m-0 ta-r disclaimer">  Ce site a été réalisé dans le cadre d'un travail à but éducatif et non
  commercial</p>
</footer>
