<footer class="ff-body bgc-blue c-blue ff-body">
  <div class="d-f footer-wrapper jc-sa d-f c-white pb-5">
    <div class"ta-l">
      <p class="fw-700 fs-s">
        L'ASSOCIATION
      </p>
      <ul class="list-n p-0 fs-s lh-24">
        <li class="pt-1c25">Missions et valeurs</li>
        <li class="pt-0c5">Actions</li>
        <li class="pt-0c5">Équipe</li>
        <li class="pt-0c5">Contact</li>
      </ul>
    </div>
    <div class"ta-l">
      <p class="fw-700 fs-s">
        AGIR AVEC NOUS
      </p>
      <ul class="list-n p-0 fs-s lh-24">
        <li class="pt-1c25">Rejoindre le réseau SANSA</li>
        <li class="pt-0c5">Devenir membre</li>
        <li class="pt-0c5">Associations référencées</li>
        <li class="pt-0c5">Ateliers d’entraide</li>
      </ul>
    </div>
    <div class"ta-l">
      <p class="fw-700 fs-s">
        NOTRE ACTU
      </p>
      <ul class="list-n p-0 fs-s lh-24">
        <li class="pt-1c25">Blog</li>
        <li class="pt-0c5">Presse</li>
        <li class="pt-0c5">Twitter</li>
        <li class="pt-0c5">Facebook</li>
      </ul>
    </div>
  </div>
  <div class="text__disclaimer">
    <span class="fs-xxs disclaimer c-white pr-0c5">  Ce site a été réalisé dans le cadre d'un travail à but éducatif et non
    commercial</span>
  </div>
</footer>
